<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="Main"
         connectionString=""
         providerName="" 
         xdt:Transform="Replace" xdt:Locator="Match(name)" />
    <add name="Sphinx"
         connectionString="Server=127.0.0.1;Port=9312;" 
         xdt:Transform="Replace" xdt:Locator="Match(name)" />
  </connectionStrings>
  <appSettings>    
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <customErrors defaultRedirect="~/Error" mode="RemoteOnly"
                  xdt:Transform="Replace">
      <error statusCode="404" redirect="~/Error/NotFound" />
    </customErrors>
  </system.web>
</configuration>
